@font-face {
  font-family: 'navtext';
  src: url(../fonts/Potato\ Pancakes.ttf);
}

@font-face {
  font-family: 'parrafos';
  src: url(../fonts/coolvetica\ rg.otf);
}


@font-face {
  font-family: 'titulo';
  src: url(../fonts/Fairyfine.otf)
}

* {
    box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../assets/fondomaslindounooo.jpg), url(../assets/fondoplus.jpg);
    background-repeat: no-repeat, repeat;
    color: #ffffff;
    cursor: url('../assets/curs0r_3.png'), auto;
}


@media screen and (max-width:991px) {
  body{
  background-image: url('../assets/Fondo1Tablet.jpg');
  background-size: 100%;
  background-repeat: repeat;

}
}

@media screen and (max-width:450px) {
  body{
  background-image: url('../assets/Fondo1Movil.jpg');
  background-size: 100%;
}
}


/* Menu */


.logovg {
    transition: transform .2s;
    margin: 0 auto;
  }

.logovg:hover {
    transform: scale(0.7);
}

header {
  width: 100%;
  position: fixed;
  z-index: 100;
}

.g {
  padding-top: 150px;
}

nav {
  background-color: transparent !important;
  display: wrap;
}

.navbar fixed-top navbar-expand-lg {
  justify-items: center;
}

.btn-outline-success {
  color: #f2da2c;
}

.btn-outline-success {
  --bs-btn-color: #f2da2c;
  --bs-btn-border-color: #f2da2c;
  --bs-btn-hover-color: #53415f;
  --bs-btn-hover-bg: #f2da2c;
  --bs-btn-hover-border-color: #f2da2c;
  --bs-btn-focus-shadow-rgb: 25,135,84;}

.sticky-top {
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  z-index: 1020;
}

.navbar-toggler {
  line-height: 2;
  border-radius: 25px;
  border-color: rgb(255, 255, 255);
}


/* Curl Bottom Right */
.hvr-curl-bottom-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(95, 50, 50, 0);
  position: relative;
}
.hvr-curl-bottom-right:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  bottom: 0;
  right: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(315deg, white 45%, #aaa 50%, #ccc 56%, white 80%);
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}
.hvr-curl-bottom-right:hover:before, .hvr-curl-bottom-right:focus:before, .hvr-curl-bottom-right:active:before {
  width: 25px;
  height: 25px;
}

tooltip {
  display: flex;
  justify-content: center;
}


.container-fluid nav ul li a {
  -webkit-text-stroke: 0.6px rgb(32, 0, 36);
  color: rgb(255, 255, 255); 
  opacity: 0.7;

}

/* cambiar tipo de letra nav*/
.especial {
  font-family: "navtext";
  font-size: 25px;
  gap: 2rem;
}

.dropdown-item {
  background-color: #714d96;
  font-family: 'parrafos';
  color: rgb(224, 150, 243);
  font-size: 17px;
  scrollbar-highlight-color: #f2da2c;
}

/* Inicio */
  .bruh {
  background-image:url('/assets/fotojardinmas.png');
  background-size: 100%;
  position: relative;
  border-radius: 80px;
  opacity: 0.8;
  height: 360px;
  animation: move 6s ease infinite alternate;
   overflow: hidden;
}

@keyframes move {
  from {
      background-position: bottom
  }

  to {
      background-position: top;
   }
}

.detalles {
  display: flex;
  justify-content:right;
  margin-top: 25px;
  margin-right: 5rem;
  font-family: titulo;
  font-size: 42px;
}

.flor {
  justify-content: center;
  padding-left: 40px;
  animation: attention 4s linear infinite;

}

@media screen and (max-width: 450px) {
  .flor{
    justify-content: left;
    font-size: 20px;
  } 
  }

@keyframes attention {
  9% {
    transform: none;
  }
  12% {
    transform: scale(0.35);
  }
  16% {
    transform: scale(0.35);
  }
  20% {
    transform: scale(0.9);
  }
  24% {
    transform: scale(0.9);
  }
}

.parrafos {
  font-family: 'parrafos';
  text-align: center;
  font-size: 24px;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media screen and (max-width: 450px) {
  .parrafos{
    justify-content: left;
    font-size: 20px;
  } 
  }

/*.fotouno {
  animation: vibrar 4s ease 0s infinite normal forwards;
}

@keyframes vibrar {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(-5px, 15px);
	}

	40% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(5px, 15px);
	}

	80% {
		transform: translate(2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}

*/ 

.ss {animation: sacudir 5s linear 0s infinite normal forwards;}

@keyframes sacudir {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		transform: translateX(10px);
	}

	80% {
		transform: translateX(8px);
	}

	90% {
		transform: translateX(-8px);
	}
}

.ss2 {animation: sacudirdos 5s linear 0s infinite normal forwards;}

@keyframes sacudirdos {
  0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-8px);
	}

	20%,
	40%,
	60% {
		transform: translateX(8px);
	}

	80% {
		transform: translateX(10px);
	}

	90% {
		transform: translateX(-10px);
	}
}

.titulot {
    padding-left: 15rem;
    padding-right: 15rem;
}

h1 {
  font-family: 'titulo';
  color: #FAD8E1;
  font-size: 6rem;
  word-wrap:normal
}

.h1plus {
  font-family: 'titulo';
  color: #FFF1B8;
  font-size: 5rem;
  word-wrap:normal
}

.titulodos {
  font-family: 'navtext';
  color: #D6D0D8;
  font-size: 50px;

}

.tituloadicional {
  font-family: parrafos;
  font-size: 50px
}

.subtitulo {
  font-family: 'navtext' ;
  font-size: 3rem;
}


.unicoen {
overflow: hidden;
}


/* Servicios */

.listadouno {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: dotted;
  border-radius: 50px 20px 50px 20px;
  border-width: 4px;
  color: #efdff8;
  padding: 1.3rem;
  overflow: hidden;
  font-family: 'parrafos';
  font-size: 2rem;
  text-shadow: 2px 1px 2px black;
}

.listadodos {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: dotted;
  border-radius: 50px 20px 50px 20px;
  border-width: 4px;
  color: #efdff8;
  padding: 1.5rem;
  overflow: hidden;
  font-family: 'parrafos';
  font-size: 2rem;
  text-shadow: 2px 1px 2px black;
}

.icono {
  display: flex;
  margin-right: 4rem;
  width: 23%;
}

@media screen and (max-width: 500px) {
  .listadouno{
    display: flex;
    justify-content: center;
    font-size: 23px;
  }
}

@media screen and (max-width: 500px) {
  .listadodos{
    display: flex;
    justify-content: center;
    font-size: 23px;
  }
}

  @media screen and (max-width: 500px) {
    .icono{
      display: flex;
      margin-right: 2rem;
      justify-content: center;
      width: 50%;
    }
    
    }

.listadouno:hover {
    box-shadow: 1px 3px 3px 5px rgba(41, 8, 63, 40%);
    background-color: rgba(45, 16, 53, 80%);
    text-shadow: 
    2px 1px 6px white,
    2px 2px 2px rgb(43, 0, 58),
    2px 2px 2px purple;
    
}  

.listadouno:hover .icono {
    animation: rotaricon 0.4s linear;
}

@keyframes rotaricon {
  from {
    transform: rotateY(-180deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

.listadodos:hover {
  background-color:  rgba(206, 106, 176, 0.8);
  text-shadow: 
    2px 1px 6px white,
    2px 2px 2px rgb(43, 0, 58),
    2px 2px 2px rgb(83, 31, 143);
}  

.listadodos:hover .icono {
  animation: rotaricon 0.5s linear;
}

@keyframes rotaricon {
from {
  transform: rotateY(-180deg);
}
to {
  transform: rotateY(180deg);
}
}

.sistemas {
  gap: 3rem;
}

.sistemasicon {
  filter: drop-shadow(0px 7px 16px #703375);
  animation: rotar 6s linear infinite;
}

@keyframes rotar {
  from {
    transform: rotateY(-180deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

@media screen and (max-width:991px) {
  .sistemas{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
}


/* Novedades */

.pincel{
animation: myAnim 2s infinite linear forwards;
width: 75px;
}


@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-40px) rotate(4deg);
	}

	30% {
		transform: translateX(10px) rotate(-5deg);
	}

	45% {
		transform: translateX(-10px) rotate(3deg);
	}

	60% {
		transform: translateX(9px) rotate(-2.4deg);
	}

	75% {
		transform: translateX(-4px) rotate(1.5deg);
	}
}

/* Footer */

footer {
  background-color: #352a36;
}

  .botonesuno {
    display: flex;
    justify-content: center;
  }

  .parrafofooter {
    font-family: 'parrafos';
    text-align: center;
    font-size: 21px
  }
  
  .parrafosf {
    font-family: 'parrafos';
  
  }

  .interfooter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }

  .zoom {
    transition: transform .2s;
    margin: 10px;
  }

  .zoom:hover {
    transform: scale(1.2)
  }